

*{
    background-image:url("img/bg-01.jpg");
    background-size: cover;
   z-index: 0;
}
h1{
    font-size: 60px;
    background: rgba(0, 0, 0, 0.0);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: black;
    width: 70%;
}
a{
    font-size: 30px;
    background: rgba(0, 0, 0, 0.0);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    color: black;
    width: 170px;
    text-decoration: none;
}
div{
    width: 50%;
}
a:hover{
    opacity: 0.7 !important;

}